h3 Users

ul#users
    - each u in users
        li
            - if (u.follow)
                <a href="/users/#{u.id}">#{u.username}</a> following
            - else
                <a href="/users/#{u.id}">#{u.username}</a>
                <a class="follow" href="#" rel="#{u.id}">follow</a>

